body{
    background-color: dodgerblue;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
}

form{
    border: 1px solid whitesmoke;
    padding: 30px;
    background-color: white;
}

.form-input{
    margin-bottom: 30px;
}

input{
    margin-top: 10px;
    padding: 10px;
    width: 400px;
}

.btn{
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color: azure;
}
.btn:hover{
    background-color: green;
}